@model System.Collections.Generic.IEnumerable<FinalAssessmentQuestion2.Models.OrderViewModel>

@{
    ViewBag.Title = "Orders";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("OrderView", "Orders", FormMethod.Post))
{

    <div>
        Search By Ship City:<br>
        <input type="text" id="searchBox" name="searchQuery">

        <input type="submit" id="submitId" value="Submit" />

    </div>

}
    <p>@Html.ActionLink("Reset Order List", "OrderView", "Orders")</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipCity)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipCity)
            </td>
        </tr>
    }
</table>
